[submodule "Loop"]
	path = Loop
	url = https://github.com/kdisimone/Loop.git
	branch = ken-autobolus
[submodule "LoopKit"]
	path = LoopKit
	url = https://github.com/kdisimone/LoopKit.git
	branch = ken-autobolus
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	url = https://github.com/kdisimone/CGMBLEKit.git
	branch = ken-autobolus
[submodule "SwiftCharts"]
	path = SwiftCharts
	url = https://github.com/i-schuetz/SwiftCharts.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/kdisimone/dexcom-share-client-swift.git
	branch = ken-autobolus
[submodule "G4ShareSpy"]
	path = G4ShareSpy
	url = https://github.com/kdisimone/G4ShareSpy.git
	branch = ken-autobolus
[submodule "rileylink_ios"]
	path = rileylink_ios
	url = https://github.com/kdisimone/rileylink_ios.git
	branch = ken-autobolus
[submodule "Amplitude-iOS"]
	path = Amplitude-iOS
	url = https://github.com/LoopKit/Amplitude-iOS.git
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	url = https://github.com/LoopKit/MKRingProgressView.git
